.controlled {
  display: flex;
  flex-direction: column;
  border: 1px solid grey;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #454545;
  color: white;
  border-radius: 10px;
  width: 400px;
  padding: 40px;
}

.btn {
  padding: 10px 10px;
  width: 100%;
  font-family: 'Montserrat';
  max-width: 400px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: #00ae1c;
}
.inp {
  display: block;
  margin-bottom: 15px;
  padding: 15px;
  background: none;
  border: none;
  border-bottom: 1px solid gray;
  transition: all 0.3s ease-in-out;
}
.inp:focus {
  border-bottom: 2px solid white;
  outline: none;
}

.inp.filled {
  border-bottom: 2px solid lightblue;
}

.inp.error {
  border-bottom: 2px solid red;
}

.controlled label {
  font-size: 10px;
  font-weight: 700;
}
.controlled input {
  padding: 15px;
  background: none;
  border: none;
  border-bottom: 1px solid gray;
}
.controlled input::placeholder {
  color: #ffffff;
  font-family: 'Montserrat';
  font-size: 15px;
}
.checkbox {
  display: flex;
  gap: 10px;
  font-size: 12px;
  font-weight: 400;
  background: none;
}
.info {
  font-size: 14px;
}
.inputError {
  border: 2px solid red;
}

.error {
  color: red;
  font-size: 12px;
  margin-bottom: 10px;
}

.checkboxContainer {
  display: flex;
  align-items: center;
  gap: 8px;
}
.passwordWrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.eyeButton {
  position: absolute;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 18px;
  color: white;
}

.eyeButton:hover {
  color: lightgray;
}
